body
{
    background:#F0FFFF ;
    font-family: 'Poiret One', cursive;
}
h1,h2,h3,h4,h5{
    color:#444;
    /*font-family: 'Concert One', cursive;*/
}
footer
{
    background: #ffffff;
    padding:20px;
}

.page
{
    background:#fff;
    border-radius:1em;
    margin:1em;
    min-height:500px;
    padding:1em;
}

